body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 51, 51);
    margin: 0;
    line-height: 1.5;
}

a {
    color: rgb(38, 144, 212);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.bg-image {
    background-image: url("../img/bg.jpeg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.bg-shadow {
        background-color: rgba(0, 0, 0, .5);
    }

.name {
    background-color: rgba(255, 255, 255, .8);
    width: 350px;
}

.jcc {
    justify-content: center;
}

.jcsb {
    justify-content: space-between;
}

.letter-spacing {
    letter-spacing: 5px;
}

.gap-20 {
    gap: 20px;

}

.btn {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.border-bottom {
    border-bottom: 1px solid #ebebeb;
}

.border-left {
    border-left: 1px solid #ebebeb;
}

.border-right {
    border-right: 1px solid #ebebeb;
}